/* Allgemeine Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #eaeaea;
    transition: background-color 0.3s ease;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s;
    height: 60px; /* Festlegen der Höhe */
}

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header .logo-img {
    width: 40px;
    margin-right: 10px;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
    color: #fff;
}

/* Navigation mittig im Header */
header nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #444;
    color: #f4f4f4;
    border-radius: 3px;
}

/* Navigation verstecken */
.hidden {
    top: -100px;
}

/* Sektionen */
section {
    padding: 60px 0;
    text-align: center;
    padding-top: 80px; /* zusätzlicher Abstand für die fixe Navigation */
}

h2 {
    color: #fff;
    font-size: 2rem;
}

p {
    color: #ccc;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 20px 0;
}

/* CTA Button */
.cta-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.cta-button:hover {
    background-color: #218838;
}

/* Formular */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input, form textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

form input[type="submit"] {
    background-color: #007bff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsives Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center; 
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}
